body {
    background: rgb(99, 98, 98);
    font: normal 15pt arial;
}

header {
    color: rgb(254, 253, 253);
    text-align: center;
}

section {
    background: rgb(244, 204, 117);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    padding:  8px;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

li {
    list-style: none;
    margin-left: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.done {
    text-decoration: line-through;
    color: rgb(4, 4, 4);
}

h2{
    background-color: rgb(124, 78, 5);
    border: 1px solid rgb(79, 50, 30);
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

ul {
    border: 1px solid rgb(79, 50, 30);
    padding: 15px;
    position: relative;
    top: -25px;
    border-radius: 0px 0px 10px 10px;
}

form {
    padding: 20px;
    background-color: rgb(211, 156, 53);
    border-radius: 15px;
}

ul li {
    display: flex;
    margin-bottom: 10px;
}

ul span {
    float: left;
    vertical-align: middle;
}

ul button {
    float: right;
}


input#task {
    border-radius: 20px;
    border-color: 1px solid white;
    height: 30px;
    width: 80%;
}

input#add {
    height: 30px;
    color: white;
    background-color: rgb(124, 78, 5);
    border: 1px solid rgb(252, 249, 249);
    border-radius: 5px;
}


input#add:hover {
    background-color: rgb(79, 50, 3);
    border: 1px solid rgb(79, 50, 3);
}

.btn {
    color: white;
    padding: 10px 15px 10px 15px;
    border: 1px solid rgb(179, 179, 178);
    border-radius: 5px;
    cursor: pointer; 
}

.btn-done {
    background-color: rgb(12, 223, 37);
    float: right;
}

.btn-done:hover {
    background-color: green;
}

.btn-remove {
    background-color: red;
    float: right;
}

.btn-remove:hover {
    background-color:rgb(118, 5, 5);
}
